<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.kevincheng.papercupphone">

    <uses-permission android:name="android.permission.Read_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application>
        <service
                android:name="org.eclipse.paho.android.service.MqttService"
                android:exported="false" />
        <service
                android:name=".PaperCupPhone"
                android:exported="false" />
    </application>
</manifest>
